.footer {
    background: #834838;
    min-height: 95px;
    box-shadow: inset 0 5px 15px 0px rgba(0, 0, 0, .4);
    @media #{$tablet} {
        padding: 0 10px;
    }
    &__logo {
        float: left;
        padding-top: 19px;
        @media #{$mobile} {
            float: none;
            text-align: center;
            margin: 0 auto;
        }
    }
    &__s-buttons {
        float: right;
        max-width: 380px;
        width: 100%;
        padding-top: 29px;
        @media #{$mobile} {
            float: none;
            padding-top: 10px;
            text-align: center;
            margin: 0 auto 15px;
        }
    }
}